<div class="intro">
    <a href="https://www.linkedin.com/in/freddy-ojeda-b7ab4024a" target="_blank">
        <img src="../../../../assets/images/perfil.jpg" alt="">
    </a>
    <h1>{{ 'HOME.TITLE' | translate }}</h1>
    <div class="typewriter-container">
        <span>{{ displayText }}<span [class.blink]="showCursor">|</span></span>
    </div>
    <a class="button" href="#section1"><i class="fa-solid fa-angles-down fa-2xl"
            style="color: var(--text-color);"></i></a>
</div>
<app-landing id="landing"></app-landing>