<div class="landing">
    <app-nav [items]="items"></app-nav>
    <div class="sections">
        <section id="section1">
            <app-about></app-about>
        </section>
        <section id="section2">
            <app-skills></app-skills>
        </section>
        <section id="section3">
            <app-history></app-history>
        </section>
        <section id="section4">
            <app-projects></app-projects>
        </section>
        <section id="section5">
            <app-info></app-info>
        </section>
    </div>
</div>
