<div class="container my-5">
    <div class="row">
        <!-- Columna de Formulario -->
        <div class="col-md-6">
            <h2 class="mb-4">Envíame un mensaje</h2>
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="formData.name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="formData.email" name="email"
                        required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="5" [(ngModel)]="formData.message" name="message"
                        required></textarea>
                </div>
                <button type="submit" class="btn">Enviar</button>
            </form>
        </div>

        <!-- Columna de Información de Contacto -->
        <div class="col-md-6">
            <h2 class="mb-4">Información de Contacto</h2>
            <p><strong>Teléfono:</strong> +57 312 470 8022</p>
            <p><strong>Correo Electrónico:</strong> elinge02@proton.me</p>
            <p><strong>Ubicación:</strong> Sogamoso - Boyacá, Colombia</p>
            <h4 class="mt-4">Redes Sociales</h4>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://linkedin.com" target="_blank" class="btn btn-outline-secondary">LinkedIn</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com" target="_blank" class="btn btn-outline-secondary">GitHub</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com" target="_blank" class="btn btn-outline-secondary">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</div>