.frame{
  width: 90%;
}
.line {
  background-color: var(--primary-color);
  height: 2px;
  max-height: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Asegura que los botones se alineen verticalmente con la línea */
}
