<div class="container py-4 px-3 my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center">
            <img class="img img-fluid"
                src="../../../../assets/images/main-photo.jpg"
                alt="cover_profile">
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 d-flex flex-column">
            <h3 class="text-center w-100">
                {{ 'ABOUT.TITLE' | translate }}
            </h3>
            <span>
                {{ 'ABOUT.DESCRIPTION' | translate }}
            </span>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <app-spotify></app-spotify>
                </div>
                <!-- <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column justify-content-center">
                    <div class="w-100 my-4 px-2 py-3 card" style="background-color: #4faaf0;">
                        <span>{{ 'ABOUT.MODAL_ONE' | translate }}</span>
                    </div>
                    <div class="w-100 my-4 px-2 py-3 card" style="background-color: #5d90f0;">
                        <span>{{ 'ABOUT.MODAL_TWO' | translate }}</span>
                    </div>
                    <div class="w-100 my-4 px-2 py-3 card" style="background-color: #7076f0;">
                        <span>{{ 'ABOUT.MODAL_THREE' | translate }}</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>