<div class="container">
    <h4>{{ 'SKILLS.DB' | translate }}</h4>
    <div class="skill-box">
        <span class="title">Oracle</span>
        <div class="skill-bar mb-1">
            <span class="skill-per oracle">
                <span class="tooltip">80%</span>
            </span>
        </div>

        <span class="title">MySql</span>
        <div class="skill-bar mb-1">
            <span class="skill-per mysql">
                <span class="tooltip">90%</span>
            </span>
        </div>

        <span class="title">Mongo</span>
        <div class="skill-bar mb-1">
            <span class="skill-per mongo">
                <span class="tooltip">65%</span>
            </span>
        </div>
    </div>

    <h4>BackEnd</h4>

    <div class="skill-box">
        <span class="title">Php (CodeIgniter)</span>
        <div class="skill-bar mb-1">
            <span class="skill-per php">
                <span class="tooltip">50%</span>
            </span>
        </div>

        <span class="title">Python (FastAPI, Flask, Django)</span>
        <div class="skill-bar mb-1">
            <span class="skill-per python">
                <span class="tooltip">70%</span>
            </span>
        </div>

        <span class="title">Java (SpringBoot, Quarkus)</span>
        <div class="skill-bar mb-1">
            <span class="skill-per java">
                <span class="tooltip">95%</span>
            </span>
        </div>

        <span class="title">Node.js (Express)</span>
        <div class="skill-bar mb-1">
            <span class="skill-per nodejs">
                <span class="tooltip">60%</span>
            </span>
        </div>
    </div>
    
    <h4>FrontEnd</h4>

    <div class="skill-box">
        <span class="title">Angular</span>
        <div class="skill-bar mb-1">
            <span class="skill-per angular">
                <span class="tooltip">90%</span>
            </span>
        </div>
        
        <span class="title">React</span>
        <div class="skill-bar mb-1">
            <span class="skill-per react">
                <span class="tooltip">75%</span>
            </span>
        </div>
        
        <span class="title">Vue</span>
        <div class="skill-bar mb-1">
            <span class="skill-per vue">
                <span class="tooltip">60%</span>
            </span>
        </div>
    </div>

    <h4>{{ 'SKILLS.DEV' | translate }}</h4>

    <div class="skill-box">
        <span class="title">Git</span>
        <div class="skill-bar mb-1">
            <span class="skill-per git">
                <span class="tooltip">85%</span>
            </span>
        </div>

        <span class="title">Docker</span>
        <div class="skill-bar mb-1">
            <span class="skill-per docker">
                <span class="tooltip">80%</span>
            </span>
        </div>

        <span class="title">AWS (lightSail, EC2, Lambda)</span>
        <div class="skill-bar mb-1">
            <span class="skill-per aws">
                <span class="tooltip">50%</span>
            </span>
        </div>
    </div>
</div>
